<footer class="foot-main">
    <section class="foot-adv">
        <h2>SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.</h2>
    </section>
    <section class="footer-body">
        <div class="mx-auto text-center">
            <img class="foot-img mb-3 mx-auto h-40" src="../../assets/logo.webp" alt="">
            <h3>The best look anytime, anywhere.</h3>
        </div>
        <div class="footer-con">
            <h2>For her</h2> 
            <p>Women Jeans</p>
            <p>Tops and Shirts</p>
            <p>Women Jackets</p>
            <p>Heels and Flats</p>
            <p>Women Accessories</p>
        </div>
        <div class="footer-con">
            <h2>For her</h2> 
            <p>Women Jeans</p>
            <p>Tops and Shirts</p>
            <p>Women Jackets</p>
            <p>Heels and Flats</p>
            <p>Women Accessories</p>
        </div>
        <div class="footer-con">
            <h2>Subscribe</h2>
            <input type="text" placeholder="Your email address...">
            <button>SUBSCRIBE</button>
        </div>
    </section>
    <section class="footer-end">
        <p>Copyright © 2024 Brandstore. Powered by Brandstore.</p>
    </section>
</footer>
