<nav class="nav">
    <div class="nav-left">
        <ul class="nav-links">
            <li [routerLink]="['']" class="h-15w-15" routerLinkActive="active"><img class="nav-logo rounded-full" src="../../assets/logo.webp" alt=""></li>
            <li [routerLink]="['/products']" class="my-auto" routerLinkActive="active">EVERYTHING</li>
        </ul>
    </div>
    <div class="nav-right my-auto"> 
        <ul class="nav-links">
            <li  [routerLink]="['/about']" routerLinkActive="active">ABOUT</li>
            <li >CONTACTUS</li>
            <li (click)="onLogout()">LOGOUT</li>
        </ul>
    </div>
</nav>
