<div class="login-con h-screen flex justify-center items-center">
    <form class="border border-blue-500 p-5 rounded-md" [formGroup]="loginDetails" (ngSubmit)="onSubmit()"> 
        <h1 class="text-center text-white text-4xl mb-5">Login</h1>
        <div class="mb-3">
            <label for="email" class="text-white form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" >
            <div id="emailHelp" class="text-gray-400 form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="text-white form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label text-white" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
