<section class="evtng-con">
    <div class="filter">
        <div class="filter-search-con">
            <input class="filter-search" type="text" placeholder="Search products...">
            <button class="filter-btn">></button>
        </div>
        <div class="filter-price-con">
            <h2>Filter by Price</h2>
            <div class="filter-btn-price">
                <button class="filter-btn price-btn">FILTER</button>
                <p>Price: $150--$180</p>
            </div>
        </div>
        <div class="filter-categories">
            <h2>Categories</h2>
            <p *ngFor="let cat of categories" [routerLink]="['/product',cat]">
                {{cat}} 
            </p>
        </div>
    </div>
    <div class="product-display" *ngIf="items.length!==0; else noProductTemplate">
        <app-product-card *ngFor="let item of items" [item]="item"></app-product-card>
    </div>

    <ng-template #noProductTemplate>
        <h2>
            No products available
        </h2>
    </ng-template>
</section> 
